<div class="box" id="f">
    <div class="form">
        <h2>Add Product</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <span>Réference</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <span>Nom</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <span>Adresse</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="number" required="required">
            <span>Téléphone</span>
            <i></i>
        </div>
        <br>
        <input type="submit" value="Save" class="c">
    </div>
</div>